/**/

.criar-notas-container {
    width: 700px;
    background-color: #444;
    padding: 40px;
    border-radius: 15px;
    margin: 50px auto;
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #666;
    color: white;
    font-size: 16px;
}

.input-group textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #666;
    border: none;
    border-radius: 15px;
    color: white;
    resize: vertical;
    min-height: 120px;
}

input::placeholder {
    color:black;
}

#descricao {
    height: 200px;
}

.botoes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.botoes a {
    width: 35%;
}

.salvar-btn {
    padding: 10px;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
    background-color: #f97625;
    color: white;
    width: 35%;
    height: 55px;
    transition: 300ms;
}
.cancelar-btn {
    padding: 10px;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
    background-color: #ccc;
    color: #f97625;
    width: 100%;
    height: 55px;
    transition: 300ms;
}