/**/
form {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.form-container {
    background-color: #3a3a3a;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    width: 400px;
}
.form-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #666;
    border: none;
    color: white;
}
.form-container textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #666;
    border: none;
    color: white;
    resize: vertical;
}
.form-container button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
}
.form-container #buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

.cancel {
    background-color: #ccc;
    color: #ff6600;
    width: 150px;
    height: 35px;
}
.save {
    background-color: #ff6600;
    color: white;
    width: 150px;
    height: 35px;
}
.upload-box {
    width: 200px;
    height: 200px;
    padding: 20px;
    background-color: #333;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.upload-box input {
    display: none;
}
.upload-box label {
    display: block;
    padding: 10px;
    background-color: #444;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
