.carousel {
    position: relative;
    width: 100%;
    height: 800px;
    overflow: hidden;
}
.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    transition: opacity 1s ease-in-out;
}
.carousel img:not(:first-child) {
    opacity: 0;
}
.carousel-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}
.carousel-buttons button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
}
.section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #232323;
}
.section-content {
    max-width: 600px;
    padding-left: 50px;
    color: white;
}
.section-content h2 {
    color: orange;
    font-size: 28px;
}
.section-content p {
    font-size: 18px;
    line-height: 1.5;
}
.section-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-image img {
    width: 100%;
    border-radius: 10px;
}
