/**/
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

        :root {
            --laranja-linha: #ff914d;
            --laranja-titulo: #f97625;
            --laranja-button: #f97625;
            --fundo: #232323;
            --container: #616060;
            --input: #535151;
            --placeholder: #bfbdbc;
            --button-hover: rgb(255, 128, 10);
        }

        .login-container {
            width: 400px;
            background-color: var(--container);
            padding: 40px;
            border-radius: 15px;
            margin: 50px auto;
            text-align: center;
        }

        .login-container img {
            width: 102.4px;
            height: 57.5px;
            border-radius: 50%;
            margin-bottom: 10px;
        }

        .login-container h2 {
            color: var(--laranja-titulo);
            margin-bottom: 20px;
        }

        .input-group {
            margin-bottom: 15px;
            text-align: left;
        }

        .input-group label {
            display: block;
            margin-bottom: 5px;
            font-size: 16px;
        }

        .input-group input {
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 10px;
            background-color: var(--input);
            color: white;
            font-size: 16px;
        }

        .login-btn {
            width: 70%;
            height: 55px;
            padding: 10px;
            background-color: var(--laranja-button);
            border: none;
            border-radius: 30px;
            color: white;
            font-size: 18px;
            cursor: pointer;
            margin-top: 15px;
            transition:300ms;
        }

        .register-link {
            margin-top: 15px;
            font-size: 14px;
        }

        .register-link a {
            color: var(--laranja-button);
            transition:300ms;
        }

        .login-btn:hover {
            background-color: var(--button-hover);
        }

        .register-link a:hover {
            color: var(--button-hover);
        }
