/* CSS Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #1e1e1e;
    color: white;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #111;
    position: relative;
}

/* Linha Laranja abaixo da navbar */
.navbar::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #ff7300;
    position: absolute;
    bottom: -3px;
    left: 0;
}

/* Centralização correta dos botões */
.nav-center {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 170px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.nav-links:active {
    color: #ff7300;
}

.nav-links a:hover {
    color: orange;
}

.perfil img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* Botões do topo */
.buttons {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.tab {
    background: #ff7300;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
}

.tab:hover {
    background: #ff9100;
}

.tab.active {
    background: #ff9100;
}

/* Linha Laranja abaixo do botão */
.btn-container {
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}

.btn-container::after {
    content: "";
    display: block;
    width: 50%;  /* Ajuste para ficar proporcional ao botão */
    height: 3px;
    background-color: orange;
    margin: 10px auto 0;
}
