/* Botões do topo */
.buttons {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.tab {
    background: #ff7300;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
}

.tab:hover {
    background: #ff9100;
}

.tab.active {
    background: #ff9100;
}

/* Linha Laranja abaixo do botão */
.btn-container {
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}

.btn-container::after {
    content: "";
    display: block;
    width: 50%;  /* Ajuste para ficar proporcional ao botão */
    height: 3px;
    background-color: orange;
    margin: 10px auto 0;
}

/* Container das notas centralizado */
.notes-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px); /* Notas fixas de 350px */
    gap: 20px;
    padding: 20px;
    justify-content: center; /* Centraliza as notas no container */
    align-items: start;
}

/* Cartão de Nota */
.note {
    background: #555;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    max-width: 350px; /* Tamanho fixo */
    width: 100%;
    position: relative;
}

/* Botão de excluir no canto superior direito */
.delete-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 18px;
    color: white;
    cursor: pointer;
    transition: color 0.3s ease;
}

.delete-btn:hover {
    color: #ff4d4d; /* Cor de hover para indicar exclusão */
}

/* Texto da Nota */
.note-text {
    text-align: left;
    flex: 1;
    padding-right: 15px; /* Espaço entre o texto e os botões */
    padding-left: 10px;
}

.note-text h3 {
    margin: 0 0 10px 0;
    font-size: 18px;
}

.note-text p {
    margin: 0;
    font-size: 14px;
    color: #ddd;
}

/* Botões da Nota */
.note-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 15px;
}

.view, .edit {
    background: #ff7300;
    border: none;
    padding: 10px;
    font-size: 14px;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    width: 120px;
}

.view:hover, .edit:hover {
    background: #ff9100;
}

.container-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    max-width: 350px; /* Tamanho fixo */
    width: 100%;
}

/* Botão de Adicionar Nota dentro do grid */
.add-note {
    background: #ff7300;
    color: white;
    font-size: 30px;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    /* Garante que o botão fique à direita da última nota */
    justify-self: center;
    align-self: center;
}

.add-note:hover {
    background: #ff9100;
}