/**/
.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
}
.dice-section {
    width: 60%;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    background: #222;
    border-radius: 10px;
    border: 3px solid #f97625;
    overflow-y: auto;
}
.dice-card {
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
}
.delete-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #f97625;
}
.roll-button {
    background-color: #f97625;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 10px;
}
.history {
    width: 30%;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    border: 3px solid #f97625;
    height: 300px;
    overflow-y: auto;
}
.history-item {
    background-color: #666;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}
.bottom-controls {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    align-items: center;
}
.control-box {
    background: #444;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 3px solid #f97625;
}
.control-box button {
    background: #f97625;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}
.dice-image {
    width: 50px;
    height: 50px;
}