<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Minha Aplicação{% endblock %}</title>

    <!-- CSS padrão das páginas (o que tem a navbar)-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

    {% block css %}{% endblock %}

    {% block javascript %}{% endblock %}
</head>
<body>
    <nav class="navbar">
        <div class="logo"> 
            <img src="{{ url_for('static', filename='icon/logo.png' ) }}" alt="TPKeeper"> 
        </div>
        <ul class="nav-links">
            <li><a href="{{ url_for('index' ) }}">Home</a></li>
            <li><a href="{{ url_for('Campanha.campanha' ) }}">Campanhas</a></li>
        </ul>
        <div class="perfil">
            <img src="{{ url_for('static', filename='icon/perfil.png' ) }}" alt="Perfil">
        </div>
    </nav>

    {% block content %}{% endblock %}


</body>
</html>
