<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Minha Aplicação{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    {% block css %}{% endblock %}
    {% block javascript %}{% endblock %}
</head>
<body>
    <nav class="navbar">
        <div class="logo"> 
            <img src="logo.png" alt="TPKeeper"> 
        </div>
        <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Campanhas</a></li>
        </ul>
        <div class="perfil">
            <img src="perfil.png" alt="Perfil">
        </div>
    </nav>

    {% block content %}{% endblock %}


</body>
</html>
