{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/cadastro.css') }}">
{% endblock %}

{% block title %}Cadastro{% endblock %}

{% block content %}
    <div class="cadastro-container">
        <form action="{{ url_for('Mestre.cadastrar' ) }}", method="post">
            <img src="{{ url_for('static', filename='icon/perfil.png' ) }}" alt="User">
            <h2>Cadastro</h2>
            <div class="input-group">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" placeholder="Digite seu nome" name="nome">
            </div>
            <div class="input-group">
                <label for="email">Email:</label>
                <input type="email" id="email" placeholder="Digite seu email" name="email">
            </div>
            <div class="input-group">
                <label for="password">Senha:</label>
                <input type="password" id="password" placeholder="Digite sua senha" name="senha">
            </div>
            <div class="input-group">
                <label for="confirmar">Confirmar Senha:</label>
                <input type="password" id="password" placeholder="Confirme sua senha"name="confirmasenha">
            </div>
            <button class="cadastro-btn">Cadastrar</button>
            <p class="login-link">Já tem uma conta? <a href="{{ url_for('Mestre.login' ) }}">Clique aqui</a></p>
        </form>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelector("form").addEventListener("submit", function (event) {
                let senha = document.getElementById("password").value;
                let confirmarSenha = document.querySelector("input[name='confirmasenha']").value;
                
                if (senha !== confirmarSenha) {
                    event.preventDefault(); // Impede o envio do formulário
                    alert("As senhas não coincidem. Por favor, tente novamente.");
                }
            });
        });
    </script>
{% endblock %}