{% extends 'base.html' %}

{% block title %}Campanhas{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/criar-campanha.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        <form action="{{ url_for('Campanha.criar' ) }}" method="post"enctype="multipart/form-data">
            <div class="upload-box">
                <label for="upload">Clique aqui para fazer upload</label>
                <input type="file" id="upload" name="imagem">
            </div>
            <div class="form-container">
                <label for="nome">Nome da campanha:</label>
                <input type="text" id="nome" placeholder="Nome da campanha" name="nome">
                
                <label for="descricao">Descrição:</label>
                <textarea id="descricao" placeholder="Descrição da campanha" name="desc"></textarea>
                <div id="buttons">    
                    <a href="{{ url_for('Campanha.campanha' ) }}"><button class="cancel" type="button">Cancelar</button></a>
                    <button class="save" type="submit">Salvar</button>
                </div>    
            </div>
        </form>
    </div>
{% endblock %}
