{% extends 'base.html' %}

{% block title %}Criar notas{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/criar-notas.css') }}">
{% endblock %}

{% block content %}
    <div class="btn-container">
        <div class="buttons">
            <a href="{{ url_for('Campanha.acesso', campanha_id=campanha_id ) }}"><button class="tab active">Anotações</button></a>
            <a href="{{ url_for('Campanha.dados', campanha_id=campanha_id ) }}"><button class="tab">Dados</button></a>
            <a href="{{ url_for('Campanha.edit_camp', campanha_id=campanha_id ) }}"><button class="tab">Editar Campanha</button></a>
        </div>
    </div>
    <div class="criar-notas-container">
        <form action="{{ url_for('Campanha.add_note', campanha_id = campanha_id ) }}" method="POST">
            <div class="input-group">
                <label for="titulo">Título da nota:</label>
                <input type="text" id="titulo" name="nome">
            </div>
            <div class="input-group">
                <label for="descricao">Descrição:</label>
                <textarea id="descricao" name="descricao"></textarea>
            </div>
            <div class="botoes">
                <a href="{{ url_for('Campanha.acesso', campanha_id = campanha_id ) }}"><button class="cancelar-btn">Cancelar</button></a>
                <button class="salvar-btn">Salvar</button>
            </div>
        </form>
    </div>
{% endblock %}