{% extends 'base.html' %}

{% block title %}Editar nota{% endblock %}
 
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/editar-notas.css') }}">
{% endblock %}

{% block content %}
    <div class="btn-container">
        <div class="buttons">
            <button class="tab active">Anotações</button>
            <button class="tab">Dados</button>
            <button class="tab">Editar Campanha</button>
        </div>
    </div>
    <div class="criar-notas-container">
        <form action="{{ url_for('Campanha.edit', campanha_id = campanha_id, anotacao_id=nota.id ) }}" method="POST">
            <div class="input-group">
                <label for="titulo">Título da nota:</label>
                <input type="text" id="titulo" value="{{nota.nome}}" name="nome">
            </div>
            <div class="input-group">
                <label for="descricao">Descrição:</label>
                <input type="text" id="descricao" value="{{nota.descricao}}" name="descricao">
            </div>
            <div class="botoes">
                <a href="{{ url_for('Campanha.acesso', campanha_id = campanha_id ) }}"><button class="cancelar-btn">Cancelar</button></a>
                <button class="salvar-btn">Salvar</button>
            </div>
        </form>
    </div>
{% endblock %}