{% extends 'base.html' %}

{% block title %}Editar nota{% endblock %}
 
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static/css', filename='editar-notas.css') }}">
{% endblock %}

{% block content %}
    <div class="btn-container">
        <div class="buttons">
            <button class="tab active">Anotações</button>
            <button class="tab">Dados</button>
            <button class="tab">Editar Campanha</button>
        </div>
    </div>
    <div class="criar-notas-container">
        <div class="input-group">
            <label for="titulo">Título da nota:</label>
            <input type="text" id="titulo" placeholder="{Título_atual}">
        </div>
        <div class="input-group">
            <label for="descricao">Descrição:</label>
            <input type="text" id="descricao" placeholder="{Descricao_atual}">
        </div>
        <div class="botoes">
            <button class="cancelar-btn">Cancelar</button>
            <button class="salvar-btn">Salvar</button>
        </div>
    </div>
{% endblock %}