{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

    {% block title %}TPKeeper{% endblock %}
    
    {% block content %}
    <section class="carousel">
        <img src="{{ url_for('static', filename='icon/carrossel1.png' ) }}" alt="Aventura Fantástica">
        <img src="{{ url_for('static', filename='icon/carrossel2.png' ) }}" alt="Exploração Mágica">
        <img src="{{ url_for('static', filename='icon/carrossel3.png' ) }}" alt="Missão Épica">
        <img src="{{ url_for('static', filename='icon/carrossel4.png' ) }}">
        <img src="{{ url_for('static', filename='icon/carrossel5.png' ) }}">
        <div class="carousel-buttons">
            <button onclick="prevSlide()">&#10094;</button>
            <button onclick="nextSlide()">&#10095;</button>
        </div>
    </section>
    <div class="section">
        <div class="section-content">
            <h2>Com o TPKeeper</h2>
            <p>Você pode gerenciar sua própria campanha de RPG!<br>
               Guarde suas anotações, fichas de monstros, personagens, rode e crie dados com um simples clique.</p>
            <a href="{{ url_for('Campanha.campanha' ) }}"><button style="background-color: orange; color: black; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;">Crie sua campanha</button></a>
        </div>
        <div class="section-image">
            <img src="{{ url_for('static', filename='icon/botons.png' ) }}" alt="Imagem de referência">
        </div>
    </div>
    <script>
        let index = 0;
        const slides = document.querySelectorAll(".carousel img");
        
        function showSlide(n) {
            slides.forEach((img, i) => {
                img.style.opacity = i === n ? "1" : "0";
            });
        }
        
        function nextSlide() {
            index = (index + 1) % slides.length;
            showSlide(index);
        }
        
        function prevSlide() {
            index = (index - 1 + slides.length) % slides.length;
            showSlide(index);
        }
        
        setInterval(nextSlide, 10000);
    </script>
{% endblock %}
