{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static/css', filename='index.css') }}">
{% endblock %}

    {% block title %}TPKeeper{% endblock %}
    
    {% block content %}
    <section class="carousel">
        <img src="carrossel1.png" alt="Aventura Fantástica">
        <img src="carrossel1.png" alt="Exploração Mágica">
        <img src="carrossel1.png" alt="Missão Épica">
        <div class="carousel-buttons">
            <button onclick="prevSlide()">&#10094;</button>
            <button onclick="nextSlide()">&#10095;</button>
        </div>
    </section>
    <script>
        let index = 0;
        const slides = document.querySelectorAll(".carousel img");
        
        function showSlide(n) {
            slides.forEach((img, i) => {
                img.style.opacity = i === n ? "1" : "0";
            });
        }
        
        function nextSlide() {
            index = (index + 1) % slides.length;
            showSlide(index);
        }
        
        function prevSlide() {
            index = (index - 1 + slides.length) % slides.length;
            showSlide(index);
        }
        
        setInterval(nextSlide, 10000);
    </script>
{% endblock %}
