<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ler nota</title>
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <img src="logo.png" alt="TPKeeper">
        </div>
        <div class="links">
            <a href="#">Home</a>
            <a href="#">Campanhas</a>
        </div>
        <div class="user-avatar">
            <img src="user-avatar.png" alt="Usuário">
        </div>
    </div>
    <div class="botao">
        <button class="voltar-btn">Voltar</button>
    </div>
    <div class="ler-notas-container">
        <div class="label-group">
            <label type="text" id="ler-nota" placeholder="titulo" class="titulo"></label>
        </div>
        <div class="label-group">
            <label class="conteudo" type="text" id="ler-nota" placeholder="descricao da nota"></label>
        </div>
    </div>
    
</body>
</html>