{% extends 'base.html' %}

{% block title %}Ler nota{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ler-notas.css') }}">
{% endblock %}

{% block content %}
    <div class="btn-container">
        <div class="buttons">
            <a href="{{ url_for('Campanha.acesso', campanha_id=campanha_id ) }}"><button class="tab active">Anotações</button></a>
            <a href="{{ url_for('Campanha.dados', campanha_id=campanha_id ) }}"><button class="tab">Dados</button></a>
            <a href="{{ url_for('Campanha.edit_camp', campanha_id=campanha_id ) }}"><button class="tab">Editar Campanha</button></a>
        </div>
    </div>
    <div class="botao">
        <a href="{{ url_for('Campanha.acesso', campanha_id=campanha_id ) }}"><button class="voltar-btn">Voltar</button></a>
    </div>
    <div class="ler-notas-container">
        <div class="label-group">
            <h3>{{nota.nome}}</h3>
        </div>
        <div class="label-group">
            <p class="conteudo" id="ler-nota">{{nota.descricao | replace("\n", "<br>") | safe }}</p>
        </div>
    </div>
{% endblock %}