{% extends 'base.html' %}

{% block title %}Notas - TPKeeper{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lst-nota.css') }}">
{% endblock %}
{% block javascript%}
    <script defer src="static/js/lst-nota-teste.js"></script>
{% endblock %}

{% block content %}
    <main>
        <!-- Botões do topo -->
        <div class="btn-container">
            <div class="buttons">
                <a href="{{ url_for('Campanha.acesso', campanha_id=campanha_id ) }}"><button class="tab active">Anotações</button></a>
                <a href="{{ url_for('Campanha.dados', campanha_id=campanha_id ) }}"><button class="tab">Dados</button></a>
                <a href="{{ url_for('Campanha.edit_camp', campanha_id=campanha_id ) }}"><button class="tab">Editar Campanha</button></a>
            </div>
        </div>

        <!-- Exemplo de como a nota tem que ficar -->
        {% for anotacao in anotacoes %}
            <section class="notes-container">
                <div class="note">
                    <div class="note-text">
                        <h3>{{anotacao.nome}}</h3>
                        <p>{{anotacao.data_criacao}}</p>
                    </div>
                    <div class="note-buttons">
                        <a href="{{ url_for('Campanha.delete_note', anotacao_id=anotacao.id, campanha_id=campanha_id ) }}"><button class="delete-btn">🗑</button></a>
                        <a href="{{ url_for('Campanha.view', anotacao_id=anotacao.id, campanha_id=campanha_id ) }}"><button class="view">Visualizar nota</button></a>
                        <a href="{{ url_for('Campanha.edit', anotacao_id=anotacao.id, campanha_id=campanha_id ) }}"><button class="edit">Editar nota</button></a>
                    </div>
                </div>
        {% endfor %}
        
            <!-- Botão de adicionar dentro do grid -->
             <div class="container-button">
                <a href="{{ url_for('Campanha.add_note', campanha_id=campanha_id ) }}" style="text-decoration: none;"><button class="add-note">+</button></a>
             </div>

        </section>
    </main> 
{% endblock %}    

