{% extends 'base.html' %}

{% block title%}Campanhas - TPKeeper{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='lst-camp.css') }}">
{% endblock %}
{% block javascript %}
<script defer src="static/js/lst-camp-teste.js"></script>
{% endblock %}


{% block content %}
<main class="container">
    <div class="btn-container">
        <button id="btn-nova-campanha">Criar nova campanha</button>
    </div>        
    
    <div class="campanhas-container" id="campanhas">
        <!-- As campanhas serão carregadas aqui -->
    </div>
</main>
{% endblock %}

