{% extends 'base.html' %}

{% block title %}Notas - TPKeeper{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='lst-nota.css') }}">
{% endblock %}
{% block javascript%}
    <script defer src="static/js/lst-nota-teste.js"></script>
{% endblock %}

{% block content %}
    <main>
        <!-- Botões do topo -->
        <div class="btn-container">
            <div class="buttons">
                <button class="tab active">Anotações</button>
                <button class="tab">Dados</button>
                <button class="tab">Editar Campanha</button>
            </div>
        </div>

        <!-- Exemplo de como a nota tem que ficar -->
        <section class="notes-container">
            <div class="note">
                <div class="note-text">
                    <h3>Título da nota</h3>
                    <p>Data de criação: dd/mm/aaaa</p>
                </div>
                <div class="note-buttons">
                    <button class="delete-btn">🗑</button>
                    <button class="view">Visualizar nota</button>
                    <button class="edit">Editar nota</button>
                </div>
            </div>
        
        
            <!-- Botão de adicionar dentro do grid -->
             <div class="container-button">
                <button class="add-note">+</button>
             </div>

        </section>
    </main> 
{% endblock %}    

